.input-div {
  background-color: black;
  color: white;
  width: 70%;
  height: 45%;
  border-radius: 30px;
  margin: 0px 100px 0px 100px;
  overflow: scroll;


  &.mobile{
  width: 84%;
  height: 28%;
  border-radius: 10px;
  margin: 13px 100px 100px 100px;
  }
}

.input-div::-webkit-scrollbar {
  display: none;
}

.hidden {
  display: none;
}

.input-task-name,
.input-details,
.input-time {
  padding: 6px;
}

.task-header {
  display: flex;
  font-size: 20px;
  align-items: flex-start;
  margin: 0 0 0 30px;

  &.mobile{
    font-size: 17px;
    align-items: flex-start;
    margin: 0 0 0 14px;
  }
}

input {
  width: 90%;
  height: 30px;
  margin: 0;
  border-radius: 3px;
  outline: none;
}

.input-button {
    background-color: #f99f32;
  margin: 15px;
  width: 90%;
  height: 40px;
  /* padding: 10px; */
  font-size: 20px;
  font-weight: bolder;
  border-radius: 5px;

  &.mobile{
    margin: 6px;
    width: 30%;
    height: 40px;
    /* padding: 10px; */
    font-size: 16px;
  }
}
.input-button:hover {
  background-color: #c46e06;
  cursor: pointer;
}

.char-count{
  text-align: right;
  margin-top: -30px;
  margin-right: 40px;
  /* padding-right: 4px; */
  color: #737373;
}
