.reminder-div {
    background-color:rgb(7, 58, 50);
    color: white;
    width: 70%;
    height: 45%;
    border-radius: 30px;
    box-shadow: rgba(166, 235, 246, 0.4) 5px 5px, rgba(170, 250, 215, 0.3) 10px 10px, rgba(155, 239, 208, 0.2) 15px 15px, rgba(46, 240, 188, 0.1) 20px 20px, rgba(8, 233, 192, 0.05) 25px 25px;

    &.mobile{
      width: 85%;
      height: 25%;
      border-radius: 10px;
      margin:70px 100px 140px;
    }
  }

.reminder-title {
    font-size: 30px;
    padding: 10px, 10px, 0, 10px;

    &.mobile{
      font-size: 24px;
      padding: 10px, 10px, 0, 10px;
      margin-top: 8px;

    }
}

.reminder-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 200px;
    height: 65%;
    overflow: scroll;
    border-radius: 10px;
}

.reminder-box::-webkit-scrollbar {
    display: none;
}

.reminder-task {
    border-radius: 5px;
    padding: 10px 0;
    width: 80%;
}
 

.reminder-task-name {
    background-color: rgba(252, 250, 250, 0.4);
    border-radius: 4px;
    font-size: larger;
  font-weight: bold;
  display: flex;
  justify-content: space-between;
  padding: 0px 6px 10px 6px;
}
.reminder-task-heading {
    color: #00ff00; 
    padding-top: 2px;
  }
  .reminder-task-deadline {
    /* margin-left: 200px; */
    color: white;
    padding-top: 3px;
  }


.empty-list-message-reminder {
    color: white;
    font-size: 22px;
    padding: 50px 0;
    font-weight: 450;
    font-style: italic;

    &.mobile{
      font-size: 20px;
    font-weight: 450;
    }
  }